* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

h1 {
    color: rgb(248, 23, 147);
    font-size: 5vw;
    text-align: center;
    margin-bottom: 5vh;
}

.botao-beka, .botao-dois {
    padding: 2vh 5vw;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 2vw;
    text-align: center;
    height: auto;
    width: 30vw;
    background-color: rgb(224, 97, 118);
    margin: 1vh;
}

.botao-beka a, .botao-dois a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 2vw;
}

@media (max-width: 768px) {
    h1 {
        font-size: 6vw;
    }

    .botao-beka, .botao-dois {
        width: 40vw;
        font-size: 3vw;
    }
}
